@charset "UTF-8";

/*Typical Device Breakpoints

Pequenas Telas: até 600px
celular: de 600px até 768px
Tablet: 768pc ate  992px
Desktop: 992px ate 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  section#login {
    width: 80vw;
  }

  section#login>div#img {
    background: #F77F00 url(../img/goku-2.png) no-repeat;
    background-size: cover;
    background-position: left bottom;
    float: left;
    width: 29%;
    height: 100%;
  }

  section#login>div#form {
    float: right;
    width: 70%;
  }

  div#form > h1{
    margin-bottom: 10px;
    font-size: 2em;
  }
}

@media screen and (min-width:992px) {
  section#login {
    width: 950px;
  }

  section#login>div#img {
    background: #F77F00 url(../img/goku-3.png) no-repeat;
    background-size: cover;
    background-position: right bottom;
    float: right;
    width: 50%;
    height: 100%;
  }
  div#form > h1{
    margin-bottom: 10px;
    font-size: 2em;
  }
}